#notes {
    width: 100%;
    height: 100%;
}

#notes nav {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid var(--accent-color);
    display: flex;
}

#notes nav > * {
    flex: 1;
}

#notes .body {
    width: 100%;
    height: calc(100% - 35px);
}

#notes .note-title {
    width: 100%;
    height: 40px;
    border-radius: 0;
}

#notes .note-content {
    width: 100%;
    height: calc(100% - 40px);
    border-radius: 0;
    resize: none;
    overflow-y: auto;
}