* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: var(--accent-color);

    touch-action: manipulation;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    touch-action: manipulation;
}

:root {
    --bg-color: black;
    --bg-color-faded: rgba(255, 255, 255, 0.2);
    --accent-color: rgb(25, 211, 0);
    --accent-color-faded: rgba(25, 211, 0, 0.3);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-faded);
}

body {
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: grid;
    place-items: center;
}

main {
    width: 65%;
    aspect-ratio: 16/9;
    
    border: 1px solid var(--accent-color);
    border-radius: 10px;
}

app-component {
    position: absolute;
}

app-info {
    position: absolute;
}

app-component {
    z-index: 1;
}

sticky-note {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10000;
}

usb-port {
    position: absolute;
}

phone-component {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 100000;
}

phone-component.close {
    animation: 1s closephone forwards;
}

phone-component.open {
    animation: 1s openphone forwards;
}

@keyframes openphone {
    100% {
        top: 50%;
    }

    0% {
        top: 150%;
    }
}

@keyframes closephone {
    100% {
        top: 150%;
    }

    0% {
        top: 50%;
    }
}

#open-phone {
    position: absolute;
    bottom: 0;
    right: 100px;

    background-color: var(--bg-color);

    width: 300px;
    height: 50px;
    border: 1px solid var(--accent-color);
    border-radius: 10px 10px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#open-phone:hover {
    background-color: var(--accent-color-faded);

    cursor: pointer;
}

#open-phone img {
    height: 100%;
}

img {
    user-select: none;
    -webkit-user-drag: none;

    image-rendering: pixelated;
}

.loading {
    --loading-border-thickness: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: var(--loading-border-thickness) solid var(--accent-color-faded);
    border-right: var(--loading-border-thickness) solid var(--accent-color);

    animation: 1s loading infinite linear;

    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

@keyframes loading {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.pc-center-text {
    position: absolute;
    left: 50%;
    top: 50%;

    translate: -50% -50px;
}

.system-icon {
    width: 50px;
    height: 50px;
    image-rendering: pixelated;
    
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.small-system-icon {
    width: 20px;
    height: 20px;
    image-rendering: pixelated;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
    padding: 10px;

    background-color: var(--bg-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 50px;
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="number"]:focus::placeholder,
textarea:focus::placeholder {
    color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
    background-color: var(--accent-color-faded);
}

select {
    padding: 2px;
    background-color: var(--bg-color);
}

select:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid var(--accent-color);
    -webkit-text-fill-color: var(--accent-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
}

button {
    padding: 5px 10px;
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);

    color: var(--accent-color);

    cursor: pointer;
}

button:hover {
    background-color: var(--accent-color-faded);
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes slideIn {
    0% {
        translate: 100% 0;
    }

    100% {
        translate: 0 0;
    }
}

.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

* {
    margin: 0;
    --usb-height: 80px;
    
    font-family: 'Courier New', Courier, monospace;
    color: var(--accent-color);

    touch-action: manipulation;
}

*:not(div) {
    user-select: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    touch-action: manipulation;        
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-faded);
}

input[type="text"] {
    padding: 10px;

    background-color: var(--bg-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 50px;
}

input[type="text"]:focus::placeholder {
    color: white;
}

input[type="text"]:focus {
    outline: none;
    background-color: var(--accent-color-faded);
}

select {
    padding: 2px;
    background-color: var(--bg-color);
}

select:focus {
    outline: none;
}

button {
    padding: 5px 10px;
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);

    color: var(--accent-color);

    cursor: pointer;
}

button:hover {
    background-color: var(--accent-color-faded);
}

img {
    user-select: none;
    -webkit-user-drag: none;

    image-rendering: pixelated;
}

@keyframes slideIn {
    0% {
        translate: 100% 0;
    }

    100% {
        translate: 0 0;
    }
}